<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Mysite0</title>
    <link rel="stylesheet" href="../../assets/css/common.css">
    <link rel="stylesheet" href="../../assets/css/board.css">
</head>

<body>
    <!-- #WRAP FRAME -->
    <div id="wrap">

        <!-- #HEADER -->
        <div id="header" class="clear-fix">
            <!-- SITE LOGO -->
            <h1><a href="#">MySite</a></h1>
            <!-- // SITE LOGO -->

            <!-- SIGNUP, LOGIN -->
            <ul class="clear-fix">
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            </ul>
            <!-- // SIGNUP, LOGIN -->
        </div>
        <!-- // #HEADER -->

        <!-- #NAV -->
        <div id="nav" class="clear-fix">
            <!-- Global Navigation Bar -->
            <ul>
                <li>입사지원서</li>
                <li>게시판</li>
                <li>갤러리</li>
                <li class="last">방명록</li>
            </ul>
            <!-- // Global Navigation Bar -->
        </div>
        <!-- // #NAV -->

        <!-- #CONTENT -->
        <div id="content" class="clear-fix">
            <!-- ASIDE -->
            <div id="aside">
                <h2>
                    게시판
                </h2>
                <ul>
                    <li>일반게시판</li>
                    <li>댓글게시판</li>
                    <li>첨부게시판</li>
                </ul>
            </div>
            <!-- // ASIDE -->

            <!-- MAIN -->
            <div id="main" class="clear-fix">
                <!-- MAIN - HEAD -->
                <div id="main-head" class="clear-fix">
                    <h3>
                        일반게시판
                    </h3>
                    <ul class="clear-fix">
                        <li>홈</li>
                        <li>게시판</li>
                        <li class="last">일반게시판</li>
                    </ul>
                </div>
                <!-- // MAIN - HEAD -->

                <!-- MAIN - BODY -->
                <div id="main-body">
                    <!-- BOARD -->
                    <div id="board">
                        <!-- SEARCH AREA -->
                        <div id="search-area" class="clear-fix">
                            <form action="#" method="get">
                                <input type="text" name="keyword" value="">
                                <button type="submit">검색</button>
                            </form>
                        </div>
                        <!-- // SEARCH AREA -->

                        <!-- NOTICE BOARD LIST -->
                        <div id="board-list">
                            <table>
                                <colgroup>
                                    <col style="width:5%">
                                    <col style="width:50%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>번호</th>
                                        <th>제목</th>
                                        <th>글쓴이</th>
                                        <th>조회수</th>
                                        <th>작성일</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12345</td>
                                        <td>안녕하세요. 저는 이호진 입니다.</td>
                                        <td>이호진</td>
                                        <td>99999</td>
                                        <td>1993-10-7</td>
                                        <td>[DELETE]</td>
                                    </tr>
                                    <tr>
                                        <td>12345</td>
                                        <td>안녕하세요. 저는 이호진 입니다.</td>
                                        <td>이호진</td>
                                        <td>99999</td>
                                        <td>1993-10-7</td>
                                        <td>[DELETE]</td>
                                    </tr>
                                    <tr>
                                        <td>12345</td>
                                        <td>안녕하세요. 저는 이호진 입니다.</td>
                                        <td>이호진</td>
                                        <td>99999</td>
                                        <td>1993-10-7</td>
                                        <td>[DELETE]</td>
                                    </tr>
                                    <tr>
                                        <td>12345</td>
                                        <td>안녕하세요. 저는 이호진 입니다.</td>
                                        <td>이호진</td>
                                        <td>99999</td>
                                        <td>1993-10-7</td>
                                        <td>[DELETE]</td>
                                    </tr>
                                    <tr>
                                        <td>12345</td>
                                        <td>안녕하세요. 저는 이호진 입니다.</td>
                                        <td>이호진</td>
                                        <td>99999</td>
                                        <td>1993-10-7</td>
                                        <td>[DELETE]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- // NOTICE BOARD LIST -->

                        <!-- PASING -->
                        <div id="pager">
                            <ol class="clear-fix">
                                <li><a href="">◀</a></li>
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5</a></li>
                                <li><a class="active" href="">6</a></li>
                                <li><a href="">7</a></li>
                                <li><a href="">8</a></li>
                                <li><a href="">9</a></li>
                                <li><a href="">10</a></li>
                                <li><a href="">▶</a></li>
                            </ol>

                            <a id="btn-write" href="">글쓰기</a>
                        </div>
                        <!-- // PASING -->
                    </div>
                    <!-- // BOARD -->
                </div>
                <!-- // MAIN - BODY -->
            </div>
            <!-- // MAIN -->
        </div>
        <!-- // #CONTENT -->

        <!-- #FOOTER -->
        <div id="footer">
            <p>Copyright &copy; 2021 이호진. All right reserved</p>
        </div>
        <!-- // #FOOTER -->

    </div>
    <!-- // #WRAP FRAME -->
</body>

</html>