<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Mysite0</title>
    <link rel="stylesheet" href="../../assets/css/common.css">
    <link rel="stylesheet" href="../../assets/css/wirte.css">
</head>

<body>
    <!-- #WRAP FRAME -->
    <div id="wrap">

        <!-- #HEADER -->
        <div id="header" class="clear-fix">
            <!-- SITE LOGO -->
            <h1><a href="#">MySite</a></h1>
            <!-- // SITE LOGO -->

            <!-- SIGNUP, LOGIN -->
            <ul class="clear-fix">
                <li><a href="#">로그인</a></li>
                <li><a href="#">회원가입</a></li>
            </ul>
            <!-- // SIGNUP, LOGIN -->
        </div>
        <!-- // #HEADER -->


        <!-- #NAV -->
        <div id="nav" class="clear-fix">
            <!-- Global Navigation Bar -->
            <ul>
                <li><a href="#">입사지원서</a></li>
                <li><a href="#">게시판</a></li>
                <li><a href="#">갤러리</a></li>
                <li class="last"><a href="#">방명록</a></li>
            </ul>
            <!-- // Global Navigation Bar -->
        </div>
        <!-- // #NAV -->



        <!-- #CONTENT -->
        <div id="content" class="clear-fix">
            <!-- ASIDE -->
            <div id="aside">
                <h2>
                    게시판
                </h2>
                <ul>
                    <li><a href="./curriculum_vitae.html">일반게시판</a></li>
                    <li><a href="#">댓글게시판</a></li>
                    <li><a href="#">첨부게시판</a></li>
                </ul>
            </div>
            <!-- // ASIDE -->


            <!-- MAIN -->
            <div id="main" class="clear-fix">
                <!-- MAIN - HEAD -->
                <div id="main-head" class="clear-fix">
                    <h3>
                        글쓰기
                    </h3>
                    <ul class="clear-fix">
                        <li><a href="#">홈</a></li>
                        <li><a href="#">게시판</a></li>
                        <li><a href="#">일반게시판</a></li>
                        <li class="last"><a href="#">글쓰기</a></li>
                    </ul>
                </div>
                <!-- // MAIN - HEAD -->

                <!-- MAIN - BODY -->
                <div id="main-body">
                    <form action="" method="get">
                        
                        <input id="write-box" type="text">
                        <button type="submit">등록</button>
                    </form>
                </div>
                <!-- // MAIN - BODY -->


            </div>
            <!-- // MAIN -->

        </div>
        <!-- // #CONTENT -->


        <!-- #FOOTER -->
        <div id="footer">
            <p>Copyright &copy; 2021 이호진. All right reserved</p>
        </div>
        <!-- // #FOOTER -->

    </div>
    <!-- // #WRAP FRAME -->
</body>

</html>