<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Mysite0</title>
    <link rel="stylesheet" href="../../assets/css/common.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
    <!-- #WRAP FRAME -->
    <div id="wrap">

        <!-- #HEADER -->
        <div id="header" class="clear-fix">
            <!-- SITE LOGO -->
            <h1><a href="./main.html">MySite</a></h1>
            <!-- // SITE LOGO -->

            <!-- SIGNUP, LOGIN -->
            <ul class="clear-fix">
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            </ul>
            <!-- // SIGNUP, LOGIN -->
        </div>
        <!-- // #HEADER -->

        <!-- #NAV -->
        <div id="nav" class="clear-fix">
            <!-- Global Navigation Bar -->
            <ul>
                <li>입사지원서</li>
                <li>게시판</li>
                <li>갤러리</li>
                <li class="last">방명록</li>
            </ul>
            <!-- // Global Navigation Bar -->
        </div>
        <!-- // #NAV -->

        <!-- #CONTENT -->
        <div id="full-content" class="clear-fix">
            <!-- IMG -->
            <img id="profile-img" src="../../assets/img/me.jpg" alt="개발자 소개사진">
            <!-- // IMG -->

            <!-- INTRODUCE -->
            <div id="greetings">
                <p id="greet">
                    안녕하세요!!<br>
                    이호진의 MySite에 오신 것을 환영합니다.
                </p>

                <p id="desc">
                    이 사이트는 웹 프로그래밍 실습과제 예제 사이트 입니다.<br>
                    메뉴는 사이트 소개, 방명록, 게시판이 있습니다.<br>
                    자바 수업 + 데이터베이스 수업 + 웹프로그래밍 수업<br>
                    배운거 있는거 없는거 다 합쳐서 만들어 놓은 사이트 입니다.<br>
                    <br>
                    감사합니다.<br>
                    <br>
                    <a href="">[방명록에 글 남기기]</a>
                </p>
            </div>
            <!-- // INTRODUCE -->
        </div>
        <!-- // #CONTENT -->

        <!-- #FOOTER -->
        <div id="footer">
            <p>Copyright &copy; 2021 이호진. All right reserved</p>
        </div>
        <!-- // #FOOTER -->

    </div>
    <!-- // #WRAP FRAME -->
</body>

</html>